* {
  box-sizing: content-box;
}
body {
  padding: 20px;
}

button:not(:disabled),
input[type='submit']:not(:disabled) {
  cursor: pointer;
}

input,
button {
  padding: 5px 10px;
  border: 1px solid transparent;
}

input:not(:disabled),
button:not(:disabled) {
  border: 1px solid darkcyan;
}

.inputs-block {
  margin-bottom: 20px;
}

.queue {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.wrapper-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid darkcyan;
}

.queue-item {
  font-size: 24px;
  color: rgb(0, 87, 87);
  position: relative;
}

.error {
  height: 20px;
  display: block;
  color: red;
}

.queue-item-animate {
  animation: move-queue-item 1s ease-in-out;
}

@keyframes move-queue-item {
  from {
    right: 0;
  }
  to {
    right: 57px;
  }
}
